<div ng-controller="CityController as cityCtrl" layout="column" class="well">
  <div class="form-group">
    <label for="cityname">{{'CITY' | translate}}</label>
    <input type="text"
           id="cityname"
           name="cityname"
           ng-model="cityCtrl.cityName"
           class="form-control" />
  </div>
    <button ng-click="cityCtrl.find();" type="button" class="btn btn-primary btn-block" >{{'GET_FORECAST' | translate}}</button>
    <table class="table table-bordered">
      <thead>
        <th>{{ 'DESCRIPTION' | translate }}</th>
        <th>{{ 'HUMIDITY' | translate }}</th>
        <th>{{ 'PRESSURE' | translate }}</th>
        <th>{{ 'TEMPERATURE' | translate }}</th>
        <th>{{ 'TEMPERATURE_MIN' | translate }}</th>
        <th>{{ 'TEMPERATURE_MAX' | translate }}</th>
      </thead>
      <tbody>
        <tr>
          <td>{{cityCtrl.previsao.descricao}}</td>
          <td>{{cityCtrl.previsao.humidade}}</td>
          <td>{{cityCtrl.previsao.pressao}}</td>
          <td>{{cityCtrl.previsao.temperatura}}</td>
          <td>{{cityCtrl.previsao.temperaturaMinima}}</td>
          <td>{{cityCtrl.previsao.temperaturaMaxima}}</td>
        </tr>
      </tbody>
    </table>
</div>
